<a href="https://colab.research.google.com/github/AndersonNiz/Bootcamp-Data-Engineer/blob/main/An%C3%A1lise_programa_aprendere.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports necessários
import pandas as pd
pd.set_option("max_rows", None)
pd.set_option('max_columns', None)   # Mostrar todas as linhas para a análise exploratória
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Criação do dataset
# encoding necessário para a visualização correta dos caracteres especiais presentes
dados = pd.read_csv('/content/drive/MyDrive/2022-01-01_imapaprendere_-_Base_de_Dados (1).csv',
                    sep=None, engine='python', encoding = "ISO-8859-1")

In [ ]:
# Visualização inicial dos dados
dados.head()

In [ ]:
dados.columns

In [ ]:
# Visualização dos tipos de dados presentes
dados.dtypes

In [ ]:
# Remove a coluna 'Unnamed' a qual não possui utilidade
# Remove a linha 2, a qual representa a separação dos dados com o cabeçalho ('-----').
dados.drop('Unnamed: 7', axis = 1, inplace = True)
dados.drop(index=0, axis = 0, inplace = True)

In [ ]:
# Remove os dados anteriores a 2017 para concentrar a análise nos dados dos últimos 5 anos:
dados.drop(dados.loc[(dados['ANO_EXECUCAO'] < '2017')].index, inplace = True)

In [ ]:
# Remove registros incorretos encontrados no arquivo:
dados.drop(dados.loc[dados['CARGA_HORARIA']=='FORMAÇÃO'].index, inplace=True)

In [ ]:
# Altera os tipos de dados numéricos de string para float:
dados['ANO_EXECUCAO'] = dados['ANO_EXECUCAO'].values.astype(np.int64)
dados['TOTAL_INSCRITOS'] = dados['TOTAL_INSCRITOS'].values.astype(np.int64)
dados['TOTAL_CERTIFICADOS'] = dados['TOTAL_CERTIFICADOS'].values.astype(np.int64)
dados['CARGA_HORARIA'] = dados['CARGA_HORARIA'].values.astype(np.int64)

In [ ]:
# Visualização dos tipos de dados alterados
dados.dtypes

In [ ]:
# Mostra a ocorrência de cursos ofertados dentro de uma área temática:
freq = dados['AREA_TEMATICA'].value_counts()
print(freq)

In [ ]:
# Altera os rótulos das áreas temáticas registradas incorretamente
dados['AREA_TEMATICA'] = dados['AREA_TEMATICA'].replace(
    ['DESENVOLVIMENTO TECNICO - ADMINISTRATIVO-OPERACIONAL.','DST/AIDS.', 'URGÊNCIA/EMERGÊNCIA.'],
    ['DESENVOLVIMENTO TECNICO - ADMINISTRATIVO-OPERACIONAL','DST/AIDS','URGÊNCIA/EMERGÊNCIA'])

In [ ]:
# Informações básicas retiradas dos dados
print(f'Total de cursos ofertados: {dados.CURSO.value_counts().sum()}')
print(f'Carga horária somada dos cursos ofertados: {dados.CARGA_HORARIA.sum()}')
print(f'Total de inscritos nos cursos ofertados: {dados.TOTAL_INSCRITOS.sum()}')
print(f'Total de certificados emitidos nos cursos ofertados (concluintes): {dados.TOTAL_CERTIFICADOS.sum()}')
print(f'Taxa de conclusão dos cursos: {dados.TOTAL_CERTIFICADOS.sum()/dados.TOTAL_INSCRITOS.sum()*100:.1f} %')
print(f'Quantidade de áreas temáticas: {dados.AREA_TEMATICA.nunique()}')

In [ ]:
dados.groupby('AREA_TEMATICA').nunique()

In [ ]:
dados.groupby(['AREA_TEMATICA'])['ANO_EXECUCAO'].value_counts().unique

In [ ]:
# Gera tabela interativa com a quantidade de cursos ofertados por cada área temática

freq_areas = pd.DataFrame(pd.DataFrame(dados['AREA_TEMATICA'].value_counts()))

In [ ]:
# Cursos mais frequentes dentro da área 'FORMAÇÃO'
freq_form = dados[dados.AREA_TEMATICA == 'FORMAÇÃO']
freq_formac = pd.DataFrame(pd.DataFrame(freq_form['CURSO'].value_counts()))
freq_formac.rename(columns={'CURSO': 'Total de Cursos'}, inplace = True)
freq_formac.head(10)

In [ ]:
# Cursos mais frequentes dentro da área 'FORMAÇÃO'
freq_espec = dados[dados.AREA_TEMATICA == 'ESPECÍFICA']
freq_especi = pd.DataFrame(pd.DataFrame(freq_espec['CURSO'].value_counts()))
freq_especi.rename(columns={'CURSO': 'Total de Cursos'}, inplace = True)
freq_especi.head(10)

In [ ]:
# Relação de oferta anual de cursos pelo programa:

ano_exec = dados.ANO_EXECUCAO
ano_exec.value_counts()
ano_execuc = pd.DataFrame(ano_exec.value_counts())
ano_execuc.rename(columns={'ANO_EXECUCAO': 'Total_Cursos'}, inplace = True)
ano_execuc.index = ano_execuc.index.values.astype(np.object)
sns.barplot(x = ano_execuc.index, y=ano_execuc.Total_Cursos);

In [ ]:
freq_areas.rename(columns={'Total de Cursos': 'Total_cursos'}, inplace = True)

In [ ]:
freq_areas.head(15)

                                                    Total_cursos
FORMAÇÃO                                                    4975
ESPECÍFICA                                                   218
SOCIAL                                                       100
ESPORTE, LAZER E JUVENTUDE                                    94
GESTÃO DE PESSOAS                                             89
TEMAS ESPECÍFICOS                                             60
INFORMÁTICA                                                   56
SAÚDE OCUPACIONAL                                             50
URGÊNCIA/EMERGÊNCIA                                           40
VIGILÂNCIA EPIDEMIOLOGICA                                     38
COSTURA                                                       36
ADMINISTRAÇÃO PÚBLICA                                         34
DESENVOLVIMENTO TECNICO - ADMINISTRATIVO-OPERAC...            34
SAÚDE MENTAL                                                  29
SAÚDE DA CRIANÇA                                              24

In [ ]:
# Plota o gráfico relacionando área temática x frequência

dados_maiores = freq_areas.loc[(freq_areas['Total_cursos'] > 23)]
sns.barplot(y = dados_maiores.index, x=dados_maiores.Total_cursos);

In [ ]:
# Plota o gráfico relacionando área temática x frequência sem os dados de FORMAÇÃO


dados_sem_form = freq_areas.loc[(freq_areas['Total_cursos'] > 30) & (freq_areas['Total_cursos'] < 1000)]
sns.barplot(y = dados_sem_form.index, x=dados_sem_form.Total_cursos);

In [ ]:
freq_soc = dados[dados.AREA_TEMATICA == 'GESTÃO DE PESSOAS']
freq_socia = pd.DataFrame(pd.DataFrame(freq_soc['CURSO'].value_counts()))
freq_socia.rename(columns={'CURSO': 'Total de Cursos'}, inplace = True)
freq_socia.head(10)

                                                    Total de Cursos
EDUCAÇÃO PREVIDENCIÁRIA DOS SERVIDORES MUNICIPA...                2
DIAGNÓSTICO E MANEJO DE TUBERCULOSE NA REDE BÁS...                2
CAPACITAÇÃO 2017 LIDERANÇA                                        1
SAÚDE DO HOMEM - ADMINISTRAÇÕES REGIONAIS                         1
BRIGADAS DE INCÊNDIO - EAD                                        1
SIPAT - SEMANA DE PROMOÇÃO DA SAÚDE, SEGURANÇA ...                1
CAPACITAÇÃO EM ORÇAMENTO PÚBLICO - PMAT                           1
COMO USAR SUA AUTENTICIDADE PARA SE CONECTAR ÀS...                1
CICLO DE PALESTRAS PARA DESENVOLVIMENTO DE GEST...                1
USO DE EXTINTORES                                                 1